
.messanger {
    /* height: calc(100vh - 70px);*/
    display: flex; 
    flex : 4;
    padding: 20px;
  }
  
  .chatMenu {
    flex: 3.5;
  }
  
  .chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .chatBox {
    height:calc(100vh - 82px);
    flex: 5.5;
  }

  .chat-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 3rem;
    box-shadow: -5px 0px 1px  rgba(0, 0, 0, 0.1);
  }

  .chat-info .receiver-name{
      display: flex;
      align-items: center;
  }

  .chat-info .receiver-name img{
     width: 40px;
     height : 40px;
     border-radius: 50%;
     margin-right: 1rem;
  }

  .chat-info .start-video{
     background-color: rgba(26, 187, 72, 0.6);
     padding : 1rem 2rem;
     border-radius: 5px;
     color: rgb(5, 5, 4);
     font-weight: 700;
  }
  
  
  .chat-info .end-video{
    background-color: rgba(206, 21, 21, 0.6);
    padding : 1rem 2rem;
    border-radius: 5px;
    color: rgb(5, 5, 4);
    font-weight: 700;
 }

  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
  }
  
  .chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
  }
  
  .chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
  }
  
  .chatOnline {
    flex: 3;
  }
  
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
  }
  
  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
  }

  .active-chat{
    background-color : rgba(60, 60, 235, 0.2);
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    color:white;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .chatMenu {
      flex: 1;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
    }
  
    .chatOnline{
      flex: 1px;
    }
  }